// Tag Cloud
.post-tags,
.product-tags,
.wp-block-tag-cloud,
.sidebar .tagcloud {
    
    label {
		color: var(--alpha-dark-color);
		font-weight: 500;
		margin-#{$right}: 1rem;
    }

    > a {
        display: inline-block;
        margin: side-values(5px 5px 5px 0);
        padding: 0.7rem 1.7rem;
        font-size: 1.3rem;
        border: 1px solid var(--alpha-change-border-color);
        color: var(--alpha-change-color-dark-2);
        line-height: 1.35;
        transition: color 0.3s, border-color 0.3s;
        text-transform: capitalize;
        
        &:hover,
        &:focus {
            color: var(--alpha-primary-color);
            border-color: var(--alpha-primary-color);
        }
    }

  &:#{if-ltr(last, first)}-child {
    margin-#{$right}: 0;
  }
}